<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success">
      New Recipe
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <a href="#" class="list-group-item-action clearfix">
      <div class="float-left">
        <h4 class="list-group-item-heading">Recipe Name</h4>
        <p class="list-group-item-text">Description</p>
      </div>
      <span class="float-right">
        <img src="https://pioneerwoman.files.wordpress.com/2013/05/nachos1.jpg" alt="recipe image" class="img-fluid" style="max-height: 50px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
