<label>Server Name</label>
<!-- Event biding -->
<input type="text" 
class="form-control"
(input)="onUpdateServerName($event)">
<p>{{ serverName }}</p>
<p [class.text-success] = "classes">Hello</p>

<label>Server Name</label>
<input type="text" 
class="form-control"
[(ngModel)]="serverName2">
<!-- <p>{{ serverName2 }}</p> -->

<button 
class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p> {{ serverCreationStatus }}</p> -->
<!-- If, Else **********************  *ngIf
<p *ngIf="serverCreated; else noServer">Server was created. Server name is {{ serverName2 }} </p>
//Local reference
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>
-->
<p *ngIf="serverCreated; else noServer">Server was created. Server name is {{ serverName2 }} </p>
<!-- Local reference -->
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
